
@{
    ViewBag.Title = "SearchPage";
}

@using (Ajax.BeginForm("Search", new AjaxOptions { UpdateTargetId = "results" }))
{
    <div class="jumbotron">
            <div class="row">
                <div class="col-md-4">
                    <h2>Input departure station</h2>
                    <input class ="form-control" type="text" name="from" />
                </div>
                <div class="col-md-4">
                    <h2>Input arrival station</h2>
                    <input class ="form-control" type="text" name="to" />
                </div>
                <div class="col-md-4">
                    <h2>Сhoose date</h2>
                    <input class ="form-control" type="date" name="date">
                </div>
            </div>
            <div class="row top-buffer">
                <div class="left-buffer">
                    <input class="btn btn-success text-center mainseach" type="submit" value="Search">
                </div>
            </div>
    </div>
    <div id="results"></div>

}

@Scripts.Render("~/scripts/jquery-3.4.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")