@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Booking train ticket</h1>
        <p>Find your perfect trip.</p>
        <p>@Html.ActionLink("Search", "Search", "Search", new { @class = "btn btn-primary btn-lg" })</p>
    </div>
